
.header-subcontainer {
  float:                left;
}

.header-subcontainer > h1 {
  font-size:              54px;
  padding-top:            4px;
}

.header-subcontainer > span {
  display:                block;
  padding-top:            10px;
  color:                  #888;
}

.portrait {
  float:                  left;
  margin:                 0 20px 10px 0;
}

.table-transactions {

}

.table-transactions > tbody > tr.type1 {
  background-color:       #FFA8A8;
}

.table-transactions > tbody > tr.type2 {
  background-color:       #B2FFBB;
}

.table-transactions > tbody > tr > td.currency {
  text-align:             right;
}

.progress-container {
  width:                  50%;
  position:               relative;
  left:                   25%;
}
