
.header-subcontainer {
  float:                left;
}

.header-subcontainer > h1 {
  font-size:              54px;
  padding-top:            4px;
}

.header-subcontainer > span {
  display:                block;
  padding-top:            10px;
  color:                  #888;
}

.portrait {
  float:                  left;
  margin:                 0 20px 10px 0;
}

.table-transactions {

}

.table-transactions > tbody > tr.type1 .currency {
  color:                  red;
  font-weight:            bold;
}

.table-transactions > tbody > tr.type2 .currency {
  color:                  green;
  font-weight:            bold;
}

td.currency {
  text-align:             right;
}
