
header {
  padding:                40px 0 20px 0;
}

.image-heading {
  font-size:              54px;
  float:                  left;
  padding-top:            4px;
}

.portrait {
  float:                  left;
  margin:                 0 20px 10px 0;
}

form h2,
form h3 {
  margin-bottom:          10px;
}
