body {
  font-size:              62.5%;
}

header {
  padding:                40px 0 20px 0;
}

form h2,
form h3 {
  margin-bottom:          10px;
}

li, p {
  font-size:              1.2em;
}

.well > h2 {
  margin-bottom:          8px;
}
