{% extends 'base.html' %}

{% block csshead %}
<link href="/static/css/character.css" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<header>
  <div class="row">
    <div class="span12">
      <img src="http://image.eveonline.com/character/{{ character.char_id }}_64.jpg"class="portrait"/>
      <div class="header-subcontainer">
        <h1>{{ character.name }}</h1>
        <span>Last updated: {% if character.last_update %}{{ character.last_update|datetime_fmt }}{% else %} Never {% endif %}</span>
      </div>
    </div>
  </div>
</header>
{% include 'top_messages.html' %}
<div class="row">
  {% if not character.active %}
  <div class="span12">
    <div class="well">
      <p>
        This character is not active. Activate it now?
      </p>
      <form action="/character/{{ character.char_id }}/activate" method="POST">
        <button type="submit" class="btn btn-primary">Yes, activate now!</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>

{% if character.active %}
<div class="row">
  <div class="span2">
    <ul class="nav nav-list">
      <li class="nav-header">Navigation</li>
      {% macro nav(name, url, icon, active) %}
      <li{% if active %} class="active"{% endif %}><a href="{{ url }}"><i class="{{ icon }}"></i>{{ name }}</a></li>
      {% endmacro %}
      {{ nav('Dashboard', '/character/' + character.char_id, 'icon-home', current == 'dashboard')}}
      {{ nav('Transactions', '/character/' + character.char_id + '/transactions', 'icon-book', current == 'transactions')}}
    </ul>
  </div>
  <div id="transactions" class="span10">
    {% block rightcontent %}{% endblock %}
  </div>
</div>
{% endif %}
{% endblock %}

{% block endbody %}
<script type="text/javascript">

  mv.data.character = {
    name: '{{ character.name|e }}',
    id: '{{ character.char_id }}'
  }

  mv.templates = {}
  {% block templates %}{% endblock %}
</script>
{% if debug %}
<script src="/static/js/lib/d3.v2.min.js"></script>
{% else %}
<script src="http://d3js.org/d3.v2.js"></script>
{% endif %}
<script src="/static/js/lib/mustache.jquery.js"></script>
<script src="/static/js/character.js"></script>
{% block subendbody %}
{% endblock %}
{% endblock %}
