{% extends 'character/base.html' %}

{% block rightcontent %}
  <h2>Latest transactions</h2>
  <div class="content"></div>
</div>
{% endblock %}

{% block subendbody %}
  <script>
    mv.character.initDashboard();
  </script>
{% endblock %}

{% block templates %}
  {% raw %}
  mv.templates.transactionTable = ' \
      <table class="table table-transactions table-bordered table-condensed"> \
      <thead> \
        <tr> \
          <th>Commodity</th> \
          <th>Date</th> \
          <th>Quantity</th> \
          <th>Unit Price</th> \
          <th>Balance Change</th> \
        </tr> \
      </thead> \
      <tbody> \
      {{#transactions}} \
      <tr class="type{{ transaction_type }}"> \
        <td>{{ type_name }}</td> \
        <td>{{ transaction_date.str }}</td> \
        <td>{{ quantity }}</td> \
        <td class="currency">{{ unit_price_str }}</td> \
        <td class="currency">{{ balance_change_str }}</td> \
      </tr> \
      {{/transactions}} \
      </tbody> \
      </table>';
  {% endraw %}
{% endblock %}
